// button-menu

.menu-button {
    align-items: center;  
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0%;
    margin-left: auto;
    cursor: pointer;
    
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgb(75, 158, 107);

    transform: translateX(100%);
    transition: transform var(--transition-duration);

    &.is-open {
        transform: translateX(0);
    }
}

.menu-button__icon {
   
}