/* footer */

.footer {
    padding: 60px 0;
    background-color: var(--banner-background-color);
}

.footer__left-part {
    display: flex;
    flex-direction: column;    
    align-items: center;

    // mobail - 480px
    @media screen and (min-width: 480px) {
        
    }

    // tablet - 768px
    @media screen and (min-width: 780px) {
        width: calc((100% - 60px)/2);
    }

    // desktop - 1200px
    @media screen and (min-width: 1200px) {
        display: block;
        flex-grow: 1;
        margin-right: 70px;        
    }
}

.footer__title {   
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);

    // // mobail - 480px
    // @media screen and (min-width: 480px) {
    //     display: flex;
    //     justify-content: center;
    // }

    // tablet - 768px
    @media screen and (min-width: 780px) {
        margin-top: 0;
    }

    // desktop - 1200px
    @media screen and (min-width: 1200px) {
    margin-top: 0;
    }
}

.footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;    

    // tablet - 768px
    @media screen and (min-width: 780px) {
        flex-grow: 1;        
    }
}
