/* logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.logo__black {
    color: #000000;
}

.logo__white {
    color: var(--secondary-text-color);
}

.logo--center {
    // mobail - 480px
    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: center;
    }

    // tablet - 768px
    @media screen and (min-width: 780px) {
        display: flex;
        justify-content: center;
    }

    // desktop - 1200px
    @media screen and (min-width: 1200px) {
        justify-content: left;
    }
}

