/* register-email */

.register-email {
    display: flex;
    flex-direction: column;    
    align-items: center;

    // tablet - 768px
    @media screen and (min-width: 768px) {
        flex-grow: 1;
    }

    // desktop - 1200px
    @media screen and (min-width: 1200px) {
        display: block;
        margin-left: 93px;        
    }
}

.register-email__title {
    display: block;  
    margin-top: 60px;  
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);

    // desktop - 1200px
    @media screen and (min-width: 1200px) {
        margin-top: 0;
    }
}

.register-email__box {    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    // mobail - 480px
    @media screen and (min-width: 480px) {       
        flex-direction: column;
        justify-content: center;        
    }

    // tablet - 768px
    @media screen and (min-width: 768px) {}

    // desktop - 1200px
    @media screen and (min-width: 1200px) {        
        flex-direction: row;
    }
}

.register-email__label {   
    margin-bottom: 20px;     

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        margin-bottom: 0;
    }
}

.register-email__input {
    width: 290px;
    height: 50px;
    border: 1px solid #FFFFFF4D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;

    &::placeholder {
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.03em;
        color: #FFFFFF99;
    }
    
    &:focus {
        color: var(--secondary-text-color);
    } 

    // mobail - 480px
    @media screen and (min-width: 480px) {
        width: 450px;
    }

    // tablet - 768px
     @media screen and (min-width: 768px) {
        width: 450px;
    }

    // desktop - 1200px
    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}
